<h1>Cart</h1>
<% @cart.line_items.each do |line_item| %>
  <p><%= line_item.product.name %> - Quantity: <%= line_item.quantity %> - Price: <%= line_item.price %></p>
<% end %>
<p>Total Price: <%= @cart.total_price %></p>